/***************************************************************
CSS
****************************************************************/

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* typography */


body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

h1,
h2,
span {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0 30px;
}

h1 {padding: 30px;
    text-transform: uppercase;
    color: blanchedalmond;
}